<h1 class="text-3xl">Listado de Pokémons</h1>
<h1 class="text-xl">Página actual</h1>

<hr class="my-2">


<!-- Pokemon-list -->
<!-- @if ( isLoading() ) {
  <pokemons-list-skeleton />
}@else {
  <pokemon-list />
} -->

<pokemon-list />

<!-- <pokemons-list-skeleton /> -->

<!-- Buttons: Cargar y siguiente -->
<div class="flex justify-between">
  <button class="mt-2" (click)="loadPokemons(1)">
    Anteriores
  </button>

  <button class="mt-2" (click)="loadPokemons(-1)">
    Siguientes
  </button>
</div>



